In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [5]:
for i in range(5,55,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [7]:
for ch in ("PYTHON"):
    print(ch)

P
Y
T
H
O
N

In [8]:
fruit=['banana','mango','orange']
for fr in fruit:
    print(fr)

banana
mango
orange

In [3]:
num=0
for i in range(1,101):
    num+=i 
print(num)

5050

In [4]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [15]:
line="education"
count=0
for ch in line:
    if ch in "aeiou":
       count+=1
print(f"the number of {line} is {count}")

the number of education is 5

In [23]:
u_list=[5,9,7,4]
for i in range(len(u_list)-1,-1,-1):
    print(u_list[i])

4
7
9
5

In [26]:
my_list=[5,9,6,4,2,3]
count=0
for i in my_list:
    if i%2!=0:
        count+=1
print(count)
    # else:
    #     print("even")

3

In [34]:
num=11
for i in range(num-1,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [37]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

In [44]:
n=7

for i in range(1,11):
    print(n,"*",i,"=",n*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70